# Игнорировать файлы и директории, созданные Django
__pycache__/
*.pyc
*.pyo
*.db

# Игнорировать файлы миграции Django
*.sqlite3

# Игнорировать медиафайлы (если они хранятся локально)
/media/

# Игнорировать статические файлы (если они хранятся локально)
/static/

# Игнорировать файлы настроек окружения (если используются)
.env
*.env
/virtualenv
/venv
/env

# Игнорировать файлы настроек IDE и редакторов кода
.idea/
.vscode/

# Игнорировать файлы журналов и временные файлы
*.log
*.swp
.DS_Store
